
{% extends 'webapp/base.html' %}

{% block title %}Acerca de{% endblock %}

{% block background %}{% load static %}{% static 'webapp/img/about-bg.webp' %}{% endblock %}

{% block headers %}
<h1>Sobre mí</h1>
<span class="subheading">¿Quién soy?</span>
{% endblock %}

{% block content %}
<div class="row"> 
    <div class="col-lg-3 col-md-4 offset-lg-1">
        <img class="img-fluid avatar" src="{% static 'webapp/img/avatar.webp' %}" alt="">
    </div>
    <div class="col-lg-7 col-md-8">
        <h2 class="section-heading">Luciano Albano</h2>   
        <p>Nacido en... lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe nostrum ullam eveniet pariatur voluptates odit, fuga atque ea nobis sit soluta odio.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe nostrum ullam eveniet pariatur voluptates odit...</p>
    </div>
</div>
{% endblock %}